@media screen and (min-width: 601px) {
  .heading {
    font-size: 50px;
  }
  .heading_2 {
    font-size: 40px;
  }
  .paragraph {
    font-size: 30px;
  }
}

@media screen and (max-width: 600px) {
  .heading {
    font-size: 35px;
  }
  .heading_2 {
    font-size: 25px;
  }
  .paragraph {
    font-size: 20px;
  }
}